<h2>Actions on region manager</h2>
<ul class="canvas">
    <li><button class="render">render</button></li>
</ul>
<h2>Actions on collection</h2>
<p>
    <label for="name">Name</label>
    <input id="name" type="text" name="name" />
</p>
<ul class="collection">
    <li><button class="add">+ add</button></li>
    <li><button class="insertAt">Insert at 2</button></li>
    <li><button class="prepend">Prepend</button></li>
</ul>
<p>When using add, no option is given to collection, so Backbone default behavior is to sort collection to ensure order</p>
<ul class="collection">
    <li><button class="sort">sort</button></li>
    <li><button class="render">render</button></li>
</ul>
